<div class="card-row">
    <div class="card-col">
        <nb-card size="giant">
            <nb-card-header>BIẾN ĐỘNG NGÀNH</nb-card-header>
            <nb-card-body>
                <!-- <ag-grid-angular style="height: 708px;" class="ag-theme-material" [rowData]="rowData"
                    [columnDefs]="columnDefs" suppressHorizontalScroll="false">
                </ag-grid-angular> -->
                <table id="table-sparkline">
                    <thead>
                        <tr>
                            <th>NGÀNH</th>
                            <th>TỶ TRỌNG (%)</th>
                            <th>BIẾN ĐỘNG</th>
                        </tr>
                    </thead>
                    <tbody id="tbody-sparkline">
                        <tr>
                            <td>Dầu khí</td>
                            <td>5.43</td>
                            <td id="container"></td>
                        </tr>
                    </tbody>
                </table>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="card-col">
        <nb-card class="own-scroll" size="giant">
            <nb-card-header>TIN TỨC</nb-card-header>
            <nb-list nbInfiniteList [threshold]="500" (bottomThreshold)="loadData()">
                <nb-list-item *ngFor="let new of news">
                    <div class="news">
                        <img class="img" [src]="new.media" />
                        <div class="newsDate">{{new.date}}</div>
                        <a class="title" [href]="new.link" target="blank">{{new.title}}</a>
                        <div class="sapo">{{new.sapo}}</div>
                    </div>
                </nb-list-item>
                <nb-list-item>
                    <div class="news loading">
                        <div class="img loading"></div>
                        <div class="title loading"></div>
                        <div class="sapo loading"></div>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>