<div class="card-row">
  <div class="card-col">
    <nb-card size="big">
      <nb-card-header>
        <a href="" style="text-decoration: none;">VN-IDX</a>
      </nb-card-header>
      <nb-card-body>
        <canvas #myChart id="myChart" width="auto" height="auto"></canvas>
        <div id="container"></div>
        <!-- <div class="tradingview-widget-container1" #container1>
          <div class="tradingview-widget-container1__widget"></div>
          <div class="tradingview-widget-copyright"></div> -->
      </nb-card-body>
    </nb-card>
  </div>



  <div class="card-col">
    <nb-card size="big">
      <nb-card-header>
        <a href="" style="text-decoration: none;">HN-IDX</a>
      </nb-card-header>
      <nb-card-body>
        <!-- <canvas #myChart2 id="myChart2" width="auto" height="auto"></canvas> -->
        <div class="tradingview-widget-container2" #container2>
          <div class="tradingview-widget-container2__widget"></div>
          <div class="tradingview-widget-copyright"></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="card-col">
    <nb-card size="big">
      <nb-card-header>
        <a href="" style="text-decoration: none;">UP-IDX</a>
      </nb-card-header>
      <nb-card-body>
        <!-- <canvas #myChart3 id="myChart3" width="auto" height="auto"></canvas> -->
        <div class="tradingview-widget-container3" #container3>
          <div class="tradingview-widget-container3__widget"></div>
          <div class="tradingview-widget-copyright"></div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>