<head><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="card-row">
  
  <div class="card-col">
    <nb-card size="small">
      <nb-card-header>Phần mềm
        <span style="margin-left: 18rem; font-size: x-small; font-weight: lighter;">Web Platform <span style="font-size: small; color: red;">Free</span></span>
        <br>
        <span style="font-size: x-small; font-weight: lighter;">Phiên bản phần mềm<span style="font-size: small; margin-left: 19rem;"><a href="https://www.microsoft.com/web/downloads/platform.aspx">Nâng cấp</a></span></span></nb-card-header>
      <nb-card-header>Thời hạn<br><span style="font-size: x-small; font-weight: lighter;">Thời gian hết hạn</span></nb-card-header>
      <nb-card-footer>
        <a href="http://m.fireant.vn/"><span style="font-size: x-small; font-weight: bolder;">Phần mềm FileAnt Mobile thế hệ mới</span></a>
      </nb-card-footer>
    </nb-card>
  </div>
  
  <div class="card-col">
    <nb-card size="small">
      <nb-card-footer>Watchlist<br><span style="font-size: x-small; font-weight: lighter;">Cập nhật nhanh cổ phiếu yêu thích</span>
        <chart type="pie" [data]="data" [options]="options" ></chart>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="card-col">
    <div class="card-row1">
      <div class="card-col1">
        <nb-card size="small">

          <div class="d">

          <div class="d1">
          <i class="fa fa-table" ></i><br/>
          <span style="font-size: x-large; margin-left: 1rem;">Bảng giá</span><br/>
          <span style=" font-weight: lighter; margin-left: 1.1rem;">Bảng giá điện tử</span>         
          </div>

          <div class="d2">
          <i class="fa fa-bar-chart" ></i><br/>
          <span style="font-size: x-large; margin-left: 1rem;">Phân tích kỹ thuật</span><br/>
          <span style=" font-weight: lighter; margin-left: 1.1rem;">Biểu đồ phân tích kỹ thuật</span> 
          </div>

          <div class="d3">
            <i class="fa fa-search" ></i><br/>
          <span style="font-size: x-large; margin-left: 1rem;">Watchlist</span><br/>
          <span style=" font-weight: lighter; margin-left: 1.1rem;">Cổ phiếu quan tâm</span> 
          </div>

          <div class="d4">
            <i class="far fa-bell" ></i><br/>
          <span style="font-size: x-large; margin-left: 1rem;">Cảnh báo</span><br/>
          <span style=" font-weight: lighter; margin-left: 1.1rem;">Cảnh báo tín hiệu</span> 
          </div>

        </div>
       </nb-card>
      </div>
    </div>
  </div>
</div>

<!-- ---------------------------------- -->

<div class="card-row2">
  
  <div class="card-col2">
    <nb-card size="medium">
      <nb-card-header>THỊ TRƯỜNG<span style="font-size: small; margin-left: 19rem;"><a href="" style="text-decoration: none ;">Chi tiết</a></span>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="card-col2">
    <nb-card size="tiny">
      <nb-card-header>WATCHLIST</nb-card-header>
      <nb-card-body><div class="w1">Chưa có watchlist nào. Hãy truy cập <a href="https://coinmarketcap.com/vi/watchlist/">watchlist</a> để quản lý danh mục cổ phiếu bạn quan tâm.</div></nb-card-body>
    </nb-card>
    </div>
  <div class="card-col2">
    <nb-card size="tiny">
      <nb-card-header>CẢNH BÁO</nb-card-header>
      <nb-card-body><div class="w1">Chưa nhận được thông báo nào. Hãy <a href="">thiết lập</a> cảnh báo để nhận được thông tin tức thời về diễn biến thị trường và giao dịch cổ phiếu.</div></nb-card-body>

    </nb-card>
  </div>
  </div>
